.photo{
    width:80px;
    height:100px;
    float:left;
    margin:5px;
}
.er{
    width:500px;
    height:300px;
}
.post{
    border-style:solid;
    border-color:black;
    margin:10px;
    width:100%;
    float:right;
    padding-right:5px;
}
.footer{
    font-size:80%; 
    float:right;
    position:relative;
    
}
.container{
    max-width:900px;
}
.postcommentsborder{
    margin:10px;
    width:100%;
    float:right;
    padding-top:10px;
    padding-left:20px;
    padding-bottom:20px;

}
.comment{
    overflow:auto;
}
